# Titanic: Machine Learning from Disaster

Predict survival on the Titanic (using Excel, Python, R, and Random Forests)

https://www.kaggle.com/c/titanic

# 1. Python

Динамический язык, понятный синтаксис, хорошие библиотеки для анализа данных => удобен для исследования данных и построения моделей

In [1]:
#введение переменных
a = 6
b = 'hi'
print b + str(a)

SyntaxError: invalid syntax (<ipython-input-1-26fc850fc764>, line 4)

In [2]:
#пример функции и if-else
def sayhello(name, exclaim=True):
    if not exclaim:
        return 'hello, ' + name
    else:
        return 'hello, ' + name + '!!!'

print sayhello('man', exclaim=False)
print(sayhello('people'))

SyntaxError: invalid syntax (<ipython-input-2-6e4a22a71a10>, line 8)

Хорошие туториалы по питону: 

https://developers.google.com/edu/python/

http://learnxinyminutes.com/docs/ru-ru/python-ru/

# 2. Pandas (и немного Numpy): анализ данных

Попробуем проанализировать обучающую выборку

In [3]:
import pandas as pd #датафреймы
import numpy as np #массивы, линейная алгебра
import pylab as pl #графики
import matplotlib as mpl #графики
%matplotlib inline
%pylab inline
import seaborn as sns #красивые графики!

Populating the interactive namespace from numpy and matplotlib

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [4]:
#открываем файл с обучающей выборкой
train = pd.read_csv('train.csv')
train[:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S

In [5]:
#какой тип данных имеет объект train?
type(train)

pandas.core.frame.DataFrame

In [6]:
#какой тип данных имеет столбец DataFrame?
type(train.Survived)

pandas.core.series.Series

VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

In [7]:
#удаляем колонку
del train['PassengerId']
train[:3]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S

In [8]:
#статистика по колонками с числами (колонки со строками в ней отсутствуют)
train.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [9]:
#количество пропусков в каждой колонке
train.isnull().sum(axis=0)

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [10]:
#количество уникальных значений в столбцах == количество уникальных значений каждого признака (каждой фичи)
nunique = train.apply(lambda x: x.nunique())
print nunique
#гистограмма c логарифмическим масштабом по оси y
nunique.plot(kind='bar', logy=True, figsize=(16,4))

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-10-e033fd7c3633>, line 3)

In [ ]:
#показать уникальные значения фич, если их не очень много
for c in train.columns:
    if train[c].nunique() < 10 : 
        print c, train[c].unique()

In [ ]:
#гистограмма - распределение данных
train.hist(figsize=(16,10), bins=20) ;

In [ ]:
#пример индексации: есть ли мужчины старше 75?
train[(train.Sex == 'male') * (train['Age'] > 75)]

In [ ]:
#пример индексации 2
train[(train.Fare >= train.Fare.max() * .75) & (train.Pclass.isin([1,2]))]

In [ ]:
#одинаковый билет и количество чаевых! Ошибка?
train.Ticket.value_counts()[:5]

In [ ]:
#статистика выживших по полу
train.groupby('Sex').mean().Survived

In [ ]:
train.groupby('Sex').mean().Survived.plot(kind='bar', figsize=(7,4))

In [ ]:
#статистика по числу пассажиров
x = train.groupby('Sex').size()
print type(x)
x

In [ ]:
#сколько пассажиров спаслось
print train[train.Survived == 1].groupby('Sex').size()
print
print train.groupby('Sex').size() * train.groupby('Sex').mean().Survived

In [ ]:
#сгруппируем данные по классам пассажиров
train.groupby('Pclass').mean()

In [ ]:
#Есть ли связь между возрастом и числом родственников на борту?
plt.scatter(train.Age, train.Parch + train.SibSp)
plt.xlabel('Age', size=14)
plt.ylabel('Number of Parents/Children Aboard', size=14)

Туториалы по Pandas:

http://habrahabr.ru/post/266289/

http://pandas.pydata.org/pandas-docs/stable/10min.html

http://nbviewer.ipython.org/github/Dyakonov/notebooks/blob/master/dj_pandas_tutoral.ipynb

Numpy, Scipy, Pandas cheat sheet

https://s3.amazonaws.com/quandl-static-content/Documents/Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf

# 3. Sklearn : алгоритмы машинного обучения
Обучим алгоритм на обучающей выборке и сделаем предсказание для тестовой выборки

In [ ]:
import sklearn

In [ ]:
#можно выполнять команды для консоли
!ls

In [ ]:
#скачаем тестовую выборку, ссылка с kaggle.com
!wget 'https://kaggle2.blob.core.windows.net/competitions-data/kaggle/3136/test.csv?sv=2012-02-12&se=2015-09-25T12%3A26%3A24Z&sr=b&sp=r&sig=ZgN65XgMNVU7%2BjMzUJ7C3uCmtKHeW57krKSRqe0NRcw%3D' -O test.csv

In [ ]:
#повторим действия с train.csv
test = pd.read_csv('test.csv')
del test['PassengerId']
test[:3]

In [ ]:
#заменим категориальные переменные на натуральные числа, чтобы мы могли обучить какой-нибудь алгоритм
from sklearn.preprocessing import LabelEncoder
lbl_enc = LabelEncoder()

for c in ['Embarked', 'Sex']:
    train[c] = lbl_enc.fit_transform(train[c])
    test[c] = lbl_enc.transform(test[c])
    
test[:3]

In [ ]:
#выберем колонки, на которых будем обучаться и предсказывать
cols = list(train.columns)
[cols.remove(c) for c in ['Name', 'Survived', 'Cabin', 'Ticket']]
test[cols][:3]

In [ ]:
#обучим случайный лес
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=50)
rf.fit(train[cols].fillna(-1), train.Survived)

In [ ]:
#сделаем предсказание
prediction = rf.predict(test[cols].fillna(-1))
prediction[:5]

In [ ]:
#Соберем предсказание в один DataFrame
submit = pd.read_csv('test.csv')[['PassengerId']]
submit['Survived'] = prediction
submit[:5]

In [ ]:
#сохраним его на диск и можно делать сабмит в Kaggle
submit.to_csv('submit01.csv', index=False)

Краткий и ёмкий обзор основных питоновских библиотек для анализа данных: Numpy, Scipy, Pandas, Matplotlib, Scikit-learn (полезно, чтобы понять, что для чего нужно использовать)

https://datafloq.com/read/5-best-python-libraries-for-data-science/994

# 4. Next steps

План на семестр: 
1. освоить основы с помощью "Титаника" => 
2. Перейти к более соревнованию среднего уровня сложности, активно использующее популярные алгоритмы машинного обучения => 
3. Взяться за сложное соревнование, требующее нетривиального подхода (популярных алгоритмов недостаточно).

План к следующему занятию:

1. Туториалы: разобрать "Getting started with Python/RandomForest" и "Further Reading / Watching", просмотреть Scripts
https://www.kaggle.com/c/titanic/

2. Понять в общих чертах что такое линейные алгоритмы и случайные леса (в Getting Started и Futher Reading это хорошо написано)